:root {
  --global-tab-height:152rpx;
  --input-border:#1678FF;
  --text-blue:#237CF2;
  --title-color-sub : #3B65C8;
  --title-color:#666;
  --nav-top:88rpx;
  --tab-pad:40rpx;
  --global-pad:24rpx;
  --title-text:#1A1A1A;
  --nav-height:160rpx;
  --box-bot:40rpx;
  --account-color:linear-gradient(to bottom, #6896F8, #164FD4);
  --grey-text : #9E9E9E;
}